/* Styles for the toggle container */
.toggle-container {
    cursor: pointer;
}

/* Styles for the sun and moon icons */
.sun-icon, .moon-icon {
    width: 24px;
    height: 24px;
    transition: opacity 0.3s;
}

/* Hide moon icon by default (light mode) */
.moon-icon {
    display: none;
}

/* Show moon icon and hide sun icon in dark mode */
.dark-mode .sun-icon {
    display: none;
}

.dark-mode .moon-icon {
    display: inline-block;
}
